<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link href="./css/buyer.css" type="text/css" rel="stylesheet"/>
		<title>购物车</title>
	</head>
	<body>
		<div id="cart" class="product_b" style="padding:0;background: #fff;">
			<table id="goods_table" class="shoplist margincenter">
				<tr class="trnone"></tr>
				<tr class="toptr">
					<td width="40">
						<input type="checkbox" id="checkA" v-on:click="checkAll($event.currentTarget)"/><label for="checkA"></label>
					</td>
					<td width="100">全选</td>
					<td width="540">商品信息</td>
					<td width="100">单价</td>
					<td width="160">数量</td>
					<td width="100">小计</td>
					<td width="100">操作</td>
				</tr>
				<tr class="trnone"></tr>
				<tr v-for="(item,index) in list">
					<td>
						<input type="checkbox" :id="'check'+index" name="checkboxs" v-model="checkeds[index]" />
						<label :for="'check'+index"></label>
					</td>
					<td>
						<img :src="'路径前缀/'+item.subimage1Filename" />
					</td>
					<td style="text-align:left;">
						<p>{{item.goodsTitle}}</p>
						<p>规格：{{item.specifications}}</p>
					</td>
					<td>￥{{item.unitPrice}}</td>
					<td class="adddel">
						<em v-on:click="minius(index)">-</em>
						<input type="number" v-model.number="item.purchaseQuantity" />
						<em v-on:click="add(index)">+</em>
					</td>
					<td>￥{{item.unitPrice * item.purchaseQuantity}}</td>
					<td>
						<button v-on:click="del(index)">删除</button>
					</td>
				</tr> 
				<tr class="trbottom">
					<td colspan="2">已选（{{checkNum}}）</td>
					<td colspan="5">
						<i>商品合计金额：</i>
						<em>￥{{sum.toFixed(2)}}</em>&nbsp;&nbsp;&nbsp;&nbsp;
						<button>下单</button>
					</td>
				</tr>
			</table>
		</div>
	</body>
	<script src="./js/vue.js"></script>
	<script>
		var cart; //Vue对象
		function createVue(list) {
			cart = new Vue({
				el: '#cart',
				data() {
					return {
						list: list,
						checkeds: new Array(list.length)
					}
				},
				computed: {
					sum: function () {
						let sum = 0;
						for (let i in this.list) {
							if (this.checkeds[i])
								sum += this.list[i].unitPrice * this.list[i].purchaseQuantity;
						}
						return sum;
					},
					checkNum: function () {
						let num = 0;
						for (let i in this.checkeds) {
							if (this.checkeds[i]) {
								num++;
							}
						}
						return num;
					}
				},
				methods: {
					del: function (index) {
						this.list.splice(index, 1);
						this.checkeds.splice(index,1); //同时删除对应的选中状态标识
					},
					add: function (index) {
						this.list[index].purchaseQuantity++;
					},
					minius: function (index) {
						if (this.list[index].purchaseQuantity > 1) {
							this.list[index].purchaseQuantity--;
						}
					},
					checkAll: function (event) {
						if (event.checked) {
							for (let i = 0; i < this.checkeds.length; i++) {
								Vue.set(this.checkeds, i, true);
							}
						} else {
							for (let i = 0; i < this.checkeds.length; i++) {
								Vue.set(this.checkeds, i, false);
							}
						}
					}
				}
			});
		}
		window.onload =	function () {
				//请求后台代码   。。。。
				//请求成功后将获得的list赋值给cart的list
				let list = [
					{
						goodsTitle: "卫龙辣条",							//商品名
						specifications: "大包",							//商品规格
						unitPrice: "5",									//商品单价
						subimage1Filename :"20180317eeftyd.jpg",		//商品图片名
						purchaseQuantity: 6								//商品数量
					}, 
					{
						goodsTitle: "雕牌洗衣粉",
						specifications: "大包",
						unitPrice: "13",
						subimage1Filename: "20180317ggptfg.jpg",
						purchaseQuantity: 1
					}, 
					{
						goodsTitle: "旺仔牛奶",
						specifications: "20盒装",
						unitPrice: "45",
						subimage1Filename: "20180317feftyp.jpg",
						purchaseQuantity: 1
					}
				]
				createVue(list);
			}
	</script>
</html>
